*,html,body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #fff;
}

/* Dark elegant color palette */
:root {
  --primary-color: #121212; /* Dark Background */
  --secondary-color:#222;/*black*/
  --accent-color: #e0ac69; /* Gold */
  --light-accent-color: #EEEDED; /* White */
}
.main-container{
  background-color: var(--primary-color);
  height: 100vh;
}
.main-wrapper{
  background-color: var(--primary-color);
  padding-left: 150px;
  padding-right: 150px; 

}

/* Update navbar and footer background color */
.navbar {
  background-color: var(--secondary-color);
  width: auto;
}

.container-footer {
  background-color: var(--secondary-color);
}

/* Update navbar and footer text color */
.container-footer p {
  color: var(--light-accent-color);
  background-color:var(--secondary-color);
  width: 100%;
}
.footer{
  padding: 30px 0px 0px 10px;
}
/* Update active nav link color */
.navbar .nav-link.active {
  color: var(--accent-color) !important;
}

/* Update wrapper-content1 and wrapper-content2 background color */
.wrapper-content1,
.wrapper-content2 {
  padding: 20px;
  border-radius: 10px;
}

.learn{
  padding-top: 100px ;
  text-align: center;
}
.reason{
  padding-top: 50px;
  text-align: center;
}
/* Typography styles */

h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--accent-color);
}
h3 {
  font-size: 1.9rem;
  font-weight: bold;
  color: var(--light-accent-color);
}
ul li p{
  color: var(--accent-color);
  font-size: 1.8rem;
}
/* Add additional spacing between sections */
.navbar-brand img {
  width: 50px;
}

.nav-link {
  margin: 10px;
}
.nav-link::after{
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  transform: scalex(0);
  transform-origin: left;
  transition: .3s;
}
.nav-link:hover::after{
  transform: scalex(1);
}
.nav-link.active {
  font-weight: bold;
}

.wrapper-content1 img{
  width: 100%;
  max-height: 350px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.wrapper-content2 img{
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.text1 {
  text-align: justify;
  font-size: 1.2rem;
  color: #333; /* Dark Gray */
  background-color: #fff; /* White */
  padding: 25px; /* Add padding for white background */
  border-radius: 5px;
}

.text2{
  text-align: justify;
  font-size: 1.5rem;
  color: #ffffff; /* Dark Gray */
  padding: 25px; /* Add padding for white background */
  border-radius: 5px;
}
.icons{
  margin: 20px;
  font-size: 2.5rem;
  place-items: center;
  color: var(--light-accent-color);
}
.icons:hover{
  color: var(--accent-color);
  transition: .5s;
}
.icons:active{
  transform: rotate(2deg);
}




/* image-grid */
.image-grid {
  display: flex;
  padding: 20px;
  /* agar ukuran image jadi sama */
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  
}

.image-container {
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
  cursor: pointer;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.image-container:hover img {
  transform: scale(1.1);
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .3;
  transition: opacity 0.3s ease;
}

.image-container:hover .image-overlay {
  opacity: 1;
}

.image-overlay-content {
  text-align: center;
  color: #fff;
}

.image-overlay-content h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.image-overlay-content p {
  font-size: .8rem;
}



/* responisve */
@media screen and (min-width: 400px) and (max-width: 1160px){
  .nav-link{
    margin: 0px;
  }
  .main-wrapper{
    padding-left: 20px;
    padding-right: 20px;
  }
  h2{
    font-size: 1.4rem;
  }

  h3{
    font-size: 1.4rem;
  }

  ul li p{
    color: var(--accent-color);
    margin: 0px;
    font-size: 1rem;
    font-weight: bolder;
  }
  .learn{
    padding-top: 0px;
  }
  .image-overlay-content h3 {
    font-size: .6rem;
    margin-bottom: 5px;
  }
  .image-overlay-content p {
    font-size: .5rem;
  }
  .text1{
    padding: 1rem;
    font-size: .8rem;
  } 
  .text2{
    font-size: 1rem;
  } 
  .icons{
    font-size: 1.5rem;
    margin: 8px;
    place-items: center;
    margin-top: 25px;
  }
  .icons:active{
    color: var(--accent-color);
  }
  .footer{
    font-size: .6rem;
  }
}

/* @media screen and (min-width: 400px) and (mas-width: 600px){
  .footer{
    font-size: 100px;
  }
} */
@media screen and (min-width: 768px) and (max-width: 1160px){
  .learn{
    padding-top: 50px;
  }
  .main-wrapper{
    padding-right: 15px;
    padding-left: 15px;
    
    
  }
  h2{
    font-size: 2rem;
  }

  h3{
    font-size: 2rem;
  }

  ul li p{
    color: var(--accent-color);
    margin: 0px;
    font-size: 1.5rem;
    font-weight: bolder;
  }
  .learn{
    padding-top: 0px;
  }
  .image-overlay-content h3 {
    font-size: .8rem;
    margin-bottom: 5px;
  }
  .image-overlay-content p {
    font-size: .6rem;
  }
  .text1{
    padding: 1rem;
    font-size: 1rem;
  } 
  .text2{
    font-size: 1rem;
  } 
}